.main-nav {
    position: absolute;
    width: 13%;
    z-index: 10;
    .nav-item {
        position: relative;
        $menu-text-font-size: 20px !global;
        $menu-text-margin-bottom: 5% !global;
        .menu-text {
            background: #fff;
            width: 120%;
            padding: 5%;
            text-decoration: none;
            font-weight: 300;
            display: inline-block;
            vertical-align: top;
            font-size: $menu-text-font-size;
            margin-bottom: $menu-text-margin-bottom;
            cursor: pointer;
            color: #000;
            white-space: nowrap;
            transition: all 0.2s ease-in-out;
            &.active {
              background: $blue;
              color: #fff;
              width: 125%;
            }
        }
    }
}
