$nav-top: 5%; // removing 20px which we add by margin top in menu-text
.main-nav {
    position: absolute;
    width: 13%;
    top: $nav-top;
    z-index: 10;
    .nav-item {
        position: relative;
        $menu-text-font-size: 20px !global;
        $menu-text-margin-top: 5% !global; // add some wiggle room for the mouse click
        $menu-text-margin-bottom: 5% !global; // add some wiggle room for the mouse click
        .menu-text {
            background: #fff;
            width: 115%;
            padding: 5%;
            text-decoration: none;
            font-weight: 300;
            display: inline-block;
            vertical-align: top;
            font-size: $menu-text-font-size;
            margin-top: $menu-text-margin-top;
            margin-bottom: $menu-text-margin-bottom;
            cursor: pointer;
            color: #000;
            white-space: nowrap;
            transition: all 0.2s ease-in-out;
            &.active {
              background: $blue;
              color: #fff;
              width: 125%;
            }
        }
    }
}
